{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-3 m-3 ratio ratio-1x1">
            <iframe class="" src="./CV/CV Nicolas Diot.pdf" width="100%"></iframe>
        </div>
    </div>
{% endblock %}