{% block header %}
    {{ render(controller(
        'App\\Controller\\MainController::header',
        { 'page': "movierama" }
    )) }}
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}

{% block body %}
<body>
  <div class="container text-center">
    <div class="m-3">
      <h1>Movierama</h1>
    </div>
    <br>
    <div class="m-3">
      <h5>Saisir un titre de film afin d'en avoir les détails</h5>
      <text>(L'API opensource n'accepte que les titres en anglais)</text>
    </div>
    <div class="m-3">
      <form action="{{ url('movierama_search') }}" method="get" class="input-group my-3 col-3">
        <input id="movie" name="movie" type="search" class="form-control" placeholder="Titre..." aria-label="Search">
        <button class="btn btn-dark" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
