{% block header %}
    {{ render(controller(
        'App\\Controller\\MainController::header',
        { 'page': "demineur" }
    )) }}
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}

{% block body %}
<body>
  <div class="container text-center">
    <div class="m-3">
      <h1>Démineur</h1>
    </div>
    <br>
    <div class="m-3">
    {% block demineur %}
      {% include 'Demineur/demineur.html' %}
    {% endblock %}
    </div>
  </div>
</body>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
