{% block header %}
    {{ render(controller(
        'App\\Controller\\MainController::header',
        { 'page': "CashClicker" }
    )) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$( document ).ready(function() {

  var cashCountDiv = document.getElementById('cashCount');
  var ppsDiv = document.getElementById('cashPerSec');
  var farineCountDiv = document.getElementById('farineCount');
  var levureCountDiv = document.getElementById('levureCount');
  var painCountDiv = document.getElementById('painCount');
  var painVenduCountDiv = document.getElementById('painVenduCount');
  var cashCount = 10;
  // Somme des cash à créer
  var cashToCreate = 0;
  // gen1Var
  var farine = 0;
  var farineCost = 2.72;
  var farinePortion = 2;
  var levure = 0;
  var levureCost = 2.29;
  var levurePortion = 7;
  var pain = 0;
  var painCost = 1.69;
  var painPortion = 1;
  var painVendu = 0;
  // cash per seconds
  var pps = 0;
  var refreshTime = 100;
  cashCountDiv.innerHTML = cashCount;

  refreshGenCount();

  function refreshcashCount() {
    cashCountDiv.innerHTML = Math.floor(cashCount * 100) / 100;
    ppsDiv.innerHTML = Math.floor(pps * 100) / 100;
  }

  function refreshGenCount() {
    farineCountDiv.innerHTML = "Prix = " + farineCost + " Nombre = " + farine;
    levureCountDiv.innerHTML = "Prix = " + levureCost + " Nombre = " + levure;
    painCountDiv.innerHTML = "Prix = " + painCost + " Nombre = " + pain;
    painVenduCountDiv.innerHTML = painVendu;
  }

  function resetGame() {
    cashCount = 0;
    pps = 0;
  }


  setInterval(function () {
    ppTick = Math.floor((pps * (refreshTime/1000)) * 100) / 100;
    cashCount += ppTick;
    refreshcashCount();
    refreshGenCount();
    cashToCreate += ppTick;
  }, refreshTime);

  $( "#acheterFarineButton" ).click(function() {
    // add a farine
    if(cashCount > farineCost){
      farine = farine + farinePortion;
      cashCount = cashCount - farineCost;
      refreshcashCount();
      refreshGenCount();
    }
  });

  $( "#acheterLevureButton" ).click(function() {
    // add a levure
    if(cashCount > levureCost){
      levure = levure + levurePortion;
      cashCount = cashCount - levureCost;
      refreshcashCount();
      refreshGenCount();
    }
  });

  $( "#makePainButton" ).click(function() {
    // add a levure
    if(farine > 0 && levure > 0){
      farine = farine - 1;
      levure = levure - 1;
      pain = pain + painPortion;
      refreshcashCount();
      refreshGenCount();
    }
  });

  $( "#vendrePainButton" ).click(function() {
    // add a levure
    if(pain > 0){
      pain = pain - 1;
      cashCount = cashCount + painCost;
      painVendu += 1;
      refreshcashCount();
      refreshGenCount();
    }
  });


});
</script>
{% endblock %}

{% block body %}
<div class="container text-center p-3">
  <div class="m-3">
    <h1>Cash Clicker</h1>
  </div>
  <div class="m-3">
    <h5>Objectif : <text>Faire du pain ?!</text></h5>
  </div>
  <div class="m-3">
    <text>Euros = </text>
    <text id="cashCount"></text>
  </div>
  <div class="m-3">
    <text>Euro par secondes = </text>
    <text id="cashPerSec"></text>
  </div>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Prêt</h5>
          </div>
          <div class="col">
            <input id="pret1000Button" class="btn btn-secondary m-2" type="button" value="Emprunter 1000€" disabled>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Acheter</h5>
          </div>
          <div class="col">
            <input id="acheterFarineButton" class="btn btn-secondary m-2" type="button" value="Farine Bio">
            <text id="farineCount"></text>
          </div>
          <div class="col">
            <input id="acheterLevureButton" class="btn btn-secondary m-2" type="button" value="Levure Bio">
            <text id="levureCount"></text>
          </div>
        </div>
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Transformer</h5>
          </div>
          <div class="col">
            <input id="makePainButton" class="btn btn-secondary m-2" type="button" value="Faire du pain Bio">
          </div>
        </div>
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Vendre</h5>
          </div>
          <div class="col">
            <input id="vendrePainButton" class="btn btn-secondary m-2" type="button" value="Pain Bio">
            <text id="painCount"></text>
          </div>
        </div>
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Vendu</h5>
          </div>
          <div class="col">
            <text>Pain vendu = </text>
            <text id="painVenduCount"></text>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="row-cols-1 border border-dark border-4 border-solid my-3" style="border-radius: 20px;">
          <div class="col">
            <h5>Investir</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}